@media (max-width: 900px) {
    body {
        background-image: url("mc_srodek.jpg");
    }
}

@media (max-width: 668px) {
    body {
        background-image: url("mc_telefon.jpg");
    }
    h1{
        font-size: 1.3rem;
    }
}

@media (min-width: 901px) {
    body {
        background-image: url("mc_komputer.jpg");
    }
}