@media (max-width: 900px) {
    body {
        background-image: url("srodek.jpg");
    }
}

@media (max-width: 668px) {
    body {
        background-image: url("telefon.jpg");
    }
}

@media (min-width: 901px) {
    body {
        background-image: url("komputer.jpg");
    }
}