*{
    margin: 0;
    padding: 0;
}
body{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    letter-spacing: 1px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    width: 65vw;
    max-width: 500px;
    height: 80vh;
}
h1, h4{
    color: white;
    text-align: center;
}
h1{
    font-size: 1.75rem;
}
h4{
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 700;
}
textarea{
    resize: none;
    display: block;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 4px;
    margin: 20px auto 15px auto;
    width: 85%;
    height: 63px;
    min-height: 63px;
}
p{
    flex-grow: 1;
    user-select: none;
    overflow-y: auto;
    word-break: keep-all;
    white-space: pre-wrap;
    color: white;
    display: block;
    margin: 1vh auto 0 auto;
    width: 85%;
    height: auto;
    text-align: center;
}
#guzikowy{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: clamp(2px, 2vw, 15px);
    margin-top: 3vh;
    margin-bottom: -1.5vh;
    height: 46px;
    width: 440px;
    position: relative;
    z-index: 11;
}
input[type="reset"], button{
    line-height: 1;
    letter-spacing: 1.1px;
    
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
input[type="reset"]{
    font-size: 16px;
    width: 70px;
    height: 32px;
}
button{
    width: 130px;
    height: 38px;
    position: relative;
    z-index: 100;
    animation: none;
}
#mors{
    font-size: 17px;
    background: linear-gradient(45deg, white, white);
    transition: background 1s ease;
    position: relative;
}

#mors::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(70deg, rgb(4, 134, 170)5%, rgb(1, 153, 204)15%, rgb(4, 134, 170)25%);
    transition: opacity 1s ease;
    opacity: 0;
}

#mors:hover::after {
    opacity: 1;
}

#mors span{
    position: relative;
    z-index: 9;
}
#craft{
    position: relative;
    font-size: 15px;
    font-family: 'Minecraftia', sans-serif;
    transition: color 1s ease;
}

.czcionka_mc{
    font-family: 'Minecraftia', sans-serif;
}

#craft::before,
#craft::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: opacity 1.5s ease;
}

#craft::before {
  background-image: url("");
  opacity: 1;
}

#craft::after {
  background-image: url("guziuk_mc.png");
  opacity: 0;
}

#craft:hover::before {
  opacity: 0;
}

#craft:hover::after {
  opacity: 1;
}

#craft:hover{
    color: white;
}

#craft span{
    position: relative;
    z-index: 9;
}


@media (max-width: 668px){
    h1{
        font-size: 1.3rem;
    }
    #mors, #craft{
        height: 7vw;
        max-height: 40px;
        width: clamp(25px, 27vw, 120px);
    }
    #craft{
        font-size: clamp(2px, 3.5vw, 15px);
    }
    #mors{
        font-size: clamp(2px, 3.5vw, 16.5px);
    }
    input[type="reset"]{
        height: 6.5vw;
        max-height: 35px;
        width: clamp(25px, 16vw, 80px);
        font-size: clamp(8px, 3.75vw, 18px);
    }
}
@media (min-width: 901px) {
    
}